.container_main {
    padding-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.container {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.btn {
    color: black;
    padding: 20px;
    text-decoration: none;
    background: white;
    cursor: pointer;
    box-shadow: 5px 5px red;
    margin-top:30px;
    border: none;
}

.link {
    padding: 20px 57px;
    margin-left: -20px;
    text-decoration: none;
    color: black;   
}

.container_photo {
    width: 300px;
    height: 300px;
}

.photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    transition: all ease .5s;
}

.photo > img {
    width: 100%;
}

.container:hover .photo {
    transform: scaleX(-1);
}

.container_resume {
    display: flex;
    flex-direction: column;
}

.container_name {
    display: flex;
    flex-direction: column;
    line-height: 0;
    font-size: 50px;
    background-image: linear-gradient(90deg, rgba(255, 0, 0, .7), rgb(255, 255, 0));
    background-clip: text;
    color: transparent;
    text-transform: uppercase;
}

.resume {
    margin: auto;
    margin-top: 40px;
    width: 500px;
    font-size: 25px;
    color: white;
    font-weight: bold;
}


@media (max-width: 900px) {
    .container_main {
        padding-top: 0;
        justify-content: center;
        align-items: center;
    }

    .container_photo {
        display: none;
    }

    .container {
        justify-content: center;
    }
}

@media (max-width: 760px) {
    .container_main {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        height: 90vh;
    }

    .container_name > h1 {
        line-height: 120px;
        margin: auto;
    }

    .resume {
        text-align: center;
        width: 95%;
    }

    .container_photo {
        display: none;
    }
}

@media (max-width: 550px) {
    .container_name {
        font-size: 36px;
    }
}