.container_main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container_form{
    margin-top: 100px;
    width: 80%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.container_input{
    position: relative;
    margin-bottom: 25px;
}

.label{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    pointer-events: none;
    color: white;
    transition: all ease .5s;
}

.input{
    padding: 8px 0 5px 0;
    background: transparent;
    border: none;
    border-bottom: 1px solid #555;
    outline: none;
    color: white;
    font-size: 16px;
}

.input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #e78133;
}

.container_input .input:focus ~ .label,
.container_input .input:valid ~ .label{
    top: -12px;
    font-size: 12px;
}

.textarea{
    padding: 10px;
    resize: none;
    background: transparent;
    border: 1px solid #555;
    color: white;
    outline: none;
    height: 200px;

}

.textarea:focus{
    border: 1px solid #e78133;
}

.container_form > button {
    width: 150px;
    height: 50px;
    align-self: center;
}

.container_links{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.link > img {
    width: 50px;
    height: 50px;
}

.link{
    color: white;
    text-decoration: none;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.text{
    font-size: 26px;
    margin-left: 50px;
}

@media (max-width: 850px){
    .container_links{
        flex-direction: column;
        align-items: center;
    }

    .text{
        font-size: 22px;
        margin-left: 10px;
    }
}