.container_main {
    display: flex;
    justify-content: space-between;
    height: 4em;
    background: var(--bg-principal);
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 10;
}

/* Menu */
.title {
    font-size: 30px;
    flex: 0 0 auto;
    align-self: center;
    padding: 20px;
    background-image: var(--text-gradient);
    background-clip: text;
    color: transparent;
    font-weight: bolder;
}

.container_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 10px;
}

.container_links {
    flex: 1;
    display: flex;
}

.container_links > ul {
    width: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-evenly
}

.container_links > ul > li {
    gap: 60px;
    line-height: 65px;
    display: inline-flex
}

.link {
    text-align: center;
    text-decoration: none;
    color: var(--letter-color);
    text-transform: uppercase;
    font-weight: bolder;
    transition: background-image 0.4s, color 0.4s;
}

.active_route,
.link:hover {
    background-image: var(--text-gradient);
    background-clip: text;
    color: transparent;
}

.container_icon {
    background-color: var(--bg-principal);
}

.close_icon {
    background-color: var(--bg-menu-mobile);
}

.close_icon,
.container_icon {
    display: none;
    cursor: pointer;
    border: none;
    color: var(--letter-color);
    padding-top: 15px;
}

.container_icon > img,
.close_icon > img {
    width: 40px;
    height: 40px;
}

.select {
    height: 50%;
    width: 130px;
    align-self: center;
    justify-self: flex-end;
    border: none;
    border-radius: 5px;
    background: var(--bg-principal);
    color: var(--letter-color);
    font-size: 18px;
}

.container_networks {
    display: none;
}

.line {
    position: fixed;
    top: 4em;
    background: var(--letter-color);
    width: 100%;
    height: 1px;
    margin: auto;
    margin-top: 0px;
}

@media (max-width: 820px) {
    .container_main {
        padding-left: 20px;
    }

    .container_menu {
        flex-direction: column;
        justify-content: flex-start;
        position: absolute;
        background: var(--bg-menu-mobile);
        width: 300px;
        top: 0;
        left: -300px;
        transition: all .5s;
        border-top-right-radius: 20px;
        padding: 70px 0;
        height: 100vh;
    }

    .title {
        display: none;
    }

    .container_icon {
        display: unset;
        position: relative;
    }

    .close_icon {
        position: absolute;
        right: 20px;
        top: 20px;
        color: var(--letter-color);
        cursor: pointer;
        display: unset;
        opacity: 1;
    }

    .container_links {
        flex-direction: column;
    }

    .container_links > ul {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .link {
        width: 150px;
        line-height: 30px;
        text-align: left;
    }

    .link:hover {
        border-bottom: none;
    }

    .menu_mobile {
        left: 0;
    }

    .select {
        height: 50px;
        background-color: var(--bg-menu-mobile);
        align-self: flex-start
    }

    .container_networks {
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .icon {
        width: 50px;
        height: 50px;
    }

    .line {
        display: none;
    }
}

