.container_logo {
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    transition: all ease .5s;
}

.img {
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-top: 30px;
    filter: grayscale(100%) saturate(200%) brightness(2);
}

.express {
    filter: invert();
}

.css3,
.html5,
.firebase,
.postgreSQL,
.docker {
    filter: grayscale(100%) saturate(200%);
}

.typeScript,
.github {
    filter: invert() brightness(10);
}

.subtitle {
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 26px;
    margin-bottom: 0;
}

.container_logo:hover {
    background: white;
    box-shadow: 10px 10px red;
}

.container_logo:hover .img {
    filter: none;
}

.container_logo:hover .subtitle {
    color: black;
}
