.container_logo{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column
}
.img{
    width: 100px;
    height: 100px;
    margin-left: 25px;
    margin-top: 30px;
}
.express
{
    filter: invert();
}
.nodeJS,
.redux,
.javaScript
{
    filter: brightness(10);
}
.react,
.typeScript,
.java
{
    filter: invert() brightness(10);
}
.material
{
    filter: grayscale(100%) brightness(10);
}
.css3,
.html5,
.firebase,
.postgreSQL
{
    filter: grayscale(100%) saturate(200%);
}
.sequelize
{
    filter: grayscale(100%) saturate(200%) brightness(2);
}
.disabled_{
    opacity: 0;
}
.subtitle{
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 26px;
    margin-bottom: 0;
}
.container_logo:hover{
    background: white;
    box-shadow: 10px 10px red;
}
.container_logo:hover .img{
    filter: none;
}
.container_logo:hover .subtitle{
    color: black;
}