.container_main{
    min-height: 350px;
    padding: 25px;
    width: 90%;
    margin: auto;
    color: var(--letter-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: all ease .5s;
    margin-bottom: 30px;;
}

.container_img{
    width: 44%;
    height: 60%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

.img {
    transition: all ease .5s;
    width: 500px;
    height: 250px;
}

.container_main:hover .img {
    height: 0px;
    width: 0px;
}

.container_main:hover #Henry-World-App {
    height: 0px;
    width: 0px;
}

.container_description{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container_info {
    display: flex;
    flex-direction: column;
}

.title{
    align-self: center;
    color: orange;
    text-shadow: 0 0 20px orange;
}

.description{
    font-size: 22px;
    text-align: center;
}

.container_buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.container_logos{
    background: rgb(0, 0, 255, .7);
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    transform: translateY(100%);
    transition: all ease .5s;
    height: 250px;
}

.container_main:hover .container_logos{
    opacity: 1;
    transform: none;
}

.container_skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(10px);
}

.container_skill > img{
    width: 35px;
}

.container_skill > p{
    font-weight: bold;
    font-size: 14px;
}

.frame{
    opacity: 0;
    transform: translateX(500%);
    transition: all ease .5s;
    margin-top: 0;
    width: 450px;
    height: 250px;
}

.container_main:hover .frame{
    opacity: 1;
    transform: translateX(0);

}

#Henry-World-App {
    width: 200px;
    height: 400px;
    margin-top: 50px;
}

@media (max-width: 1100px){
    .container_main{
        width: 500px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 50px;
        padding: 0;
    }

    .container_img {
        width: 600px;
    }

    .container_img > img {
        width: 600px
    }

    .container_description{
        width: 90%;
    }

    .title{
        text-align: center;
    }

    .container_buttons {
        padding-bottom: 30px;
    }
}

@media (max-width: 700px){
    .container_main{
        width: 100%;
        padding: 0;
    }

    .container_img{
        padding-top: 30px;
        width: 90%;
        overflow: hidden;
    }

    .container_buttons{
        flex-direction: column;
        width: 70%;
        margin: auto;
    }

    .container_logos{
        display: none;
    }
    
    .btn{
        margin: 10px;
        padding: 15px;
    }
}