.container {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    min-width: 250px;
    width: 100%;
}

.container_logos {
    width: 25%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 200px;
    height: 250px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all ease 0.5s;
}

.card:hover {
    background-color: white;
    box-shadow: 10px 10px red;
    color: black;
}

.card:hover > .logo {
    filter: none;
}

.card:hover > h2 {
    color: black;
}

.logo {
    width: 90%;
    height: 115px;
    filter: grayscale(100%);
}

.card > h2 {
    text-transform: capitalize;
    color: white;
}

#active_card {
    background-color: white;
    box-shadow: 10px 10px red;
}

#active_card > .logo {
    filter: none;
}

#active_card > h2 {
    color: black;
}

.container_info {
    margin-top: 50px;
    width: 70%;
    border-left: white 3px solid;
    padding: 0 5%;
    color: white;
    overflow: hidden;
    min-height: 450px;
    height: auto;
}

.info {
    display: grid;
    grid-template-columns: 15px auto;
}

.container_name {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.container_name {
    font-style: italic;
}

.dot {
    background-color: red;
    width: .8em;
    height: .8em;
    border-radius: 50%;
    align-self: center;
    margin-left: 1px;
}

.line {
    background-color: red;
    width: 5px;
    margin-left: 5px;
    height: 90%;
    align-self: center;
    border-radius: 3px;
}

.position_name,
.list {
    grid-column: 2 / 3;
}

.position_name {
    background-image: var(--text-gradient);
    background-clip: text;
    color: transparent;
    padding-left: 20px;
    margin: 0;
}

.list {
    padding-left: 40px;
}

.container_company {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}

.container_company > h3 {
    text-transform: capitalize;
    text-align: center;
    font-size: 28px;
    border: none;
}

#mercado_libre > .container_experience > .info:nth-child(3) > .line,
#henry > .container_experience > .info > .line {
    background-color: transparent;
}


#henry > .container_experience {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

#henry > .container_experience > .info {
    width: 48%;
    min-width: 450px;
}

.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
    transition: transform 0.5s ease, opacity 0.5s ease;
    position: relative;
    z-index: 2;
}

.inactive {
    opacity: 0;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    transform: translateY(20px);
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: absolute;
    z-index: 0;
}

.container_technologies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}

.container_technologies > li {
    width: 50px;
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.25));
    list-style: none;
}

.container_technologies > li > img {
    width: 50px;
}

.container_technologies > li:hover {
  transform: scale(1.05);
}

@media (max-width: 1600px) {
    #henry > .container_experience > .info {
        width: 100%;
        min-width: none;
    }
}

@media (max-width: 1200px) {
    .container {
        flex-direction: column;
        width: 100%;
        padding: 0px;
    }

    .container_logos {
        flex-direction: row;
        width: 100%;
        justify-content: space-evenly;
    }

    .container_info {
        margin-top: 0;
        border: none;
        width: 90vw;
        height: 630px;
    }

    .card {
        width: 100px;
        height: 150px;
    }

    .mercado_libre > h2 {
        font-size: 18px;
        text-align: center;
    }

    .logo {
        padding-top: 25px;
        width: 100%;
        height: 70px;
        width: 90px;
    }

    #mercado_libre > .container_experience > .info:nth-child(2n),
    #henry > .container_experience > .info:nth-child(2) {
        margin-top: 20px;
    }

    #henry > .container_experience {
        width: 90%;
    }

    #henry > .container_experience > .info {
        min-width: 0;
    }

    .container_name {
        flex-direction: column;
    }

    .container_name > span {
        padding-left: 20px;
    }
}
