.container_app {
    background: #101010;
}

.container_navBar {
    position: fixed;
    width: 100vw;
    top: 0;
    background: #101010;
    z-index: 10;
}

.line {
    background: white;
    width: 100%;
    height: 1px;
    margin: auto;
    margin-top: 0px;
}

.container_port {
    margin-top: 59px;
}

.separator {
    height: 50px;
}

.container_modal {
    position: fixed;
    top: 0;
    z-index: 20;
}